.tree {
  display: grid;
  grid-gap: 10px;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  grid-template-columns: 20px auto;
  min-width: 250vh;
  font-weight: bold;
}
.treeview > .tree {
  margin-left: 0px !important;
  margin-top: 20px;
}
.tree {
  margin-left: 20px;
}
.children {
  display: none;
}
.hide {
  display: none;
}
.show {
  display: block;
}

.material-icons {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
